<div>
    <div class="row">
        <h3 align="center">Register</h3>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" method="POST">
            <label>Choose a username</label>
            <input type="username" class="form-control" id="usernameInput" aria-describedby="userNameHelp" placeholder="Enter username" formControlName="name">
            <div class="form-group">
            </div>
            <label>Email address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div class="form-group">
            </div>
            <label>Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password" formControlName="password">
                    <div class="form-group">
            </div>
            <small id="passwordHelp" class="form-text text-muted">Don't give your password to anyone.</small>
            <div class="form-group">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>